body{
  margin: 0;
  background-color: whitesmoke;
}
h3{
  margin: 25px 15px;
}
p{
  margin: 10px 15px;
}
.tabs {
  height: 5.25rem;
  list-style-type: none;
  display: flex; 
  justify-content: center;
  align-items: flex-end;
  background-color: #000000; 
  gap: 6%;
  padding: 0;
  margin: 0;
}

.tabs li {
  font-size: 1.4375rem;
  font-weight: 900;
}

.tabButton {
  display: block;
  padding: .625rem;
  background-color: #000000;
  color: #ffffff;
  border:none;
  border-radius: .625rem .625rem 0 0;
  text-decoration: none;
  cursor: pointer;
  width: 8.25rem;
}

.tabButton:hover {
  background-color: #ffffff;
  color: #000000;
}

.active {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
}
#grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  margin: 3.75rem auto;
  gap: .9375rem;
}
.card {
  width: 24%;
  min-height: 23rem;
  display: inline-block;
  background-color: #ffffff;
}
.card img{
  width: 100%;
}
.date{
  color: darkorange;
  font-weight: bold;
}
.location{
  color: darkgrey;
}
.price{
  color: darkgrey;
  font-weight: bold;
}



